@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-sunset/40 hover:text-sunset/40;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500
     transition-all focus:border-sunset/40 focus:text-sunset/40 hover:border-sunset/40;
  }
    .header-link-item {
      @apply text-xs font-medium transition duration-300 opacity-75 cursor-pointer hover:opacity-100;
    }
  
    .carousel-btn-switch-card {
      @apply absolute z-40 flex h-9 w-9 cursor-pointer items-center justify-center
        rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75 transition duration-300 hover:opacity-100 md:h-12 md:w-12;
    }
  
    .carousel-btn-switch-card-left {
      @apply right-1/2 top-1/2 translate-y-[-50%] transform translate-x-[-200px];
    }
  
    .carousel-btn-switch-card-right {
      @apply top-1/2 left-1/2 translate-y-[-50%] transform translate-x-[200px];
    }
  
    .carousel-indicator {
      @apply absolute flex items-center justify-center w-24 h-5 space-x-1 transform -translate-x-1/2 left-1/2 -bottom-4 md:-bottom-10;
    }
  
    .carousel-indicator-dots {
      @apply w-2 h-2 transition-all duration-500 bg-white rounded-full opacity-50 hover:w-4 hover:opacity-100;
    }
  
    .carousel-container {
      @apply relative w-52 h-52 sm:w-96 sm:h-96;
      perspective: 450px;
      transform-style: preserve-3d;
    }
  
    .carousel-item {
      @apply absolute h-full w-full cursor-pointer overflow-hidden rounded-xl drop-shadow-[0_8px_30px_rgb(0,0,0,0.12)] transition-all duration-700 ease-in-out;
    }
  }

html {
  scroll-behavior: smooth;
}
